img {
    width: 100%;
    border-radius: 75px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4)
}

.columns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5em;
}

.cols-small {
    width: 33%;
}

.cols-large {
    width: 66%;
}

.cols-large p {
    width: 60%;
    margin: 0 auto;
}

.home-page-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
}

.home-page-info .button {
    width: 50%;
}



.banner {
    font-size: 3rem;
}

.accent {
    color: #00A3FF;
    text-shadow:
   -1px -1px 0 #383838,  
    1px -1px 0 #383838,
    -1px 1px 0 #383838,
     1px 1px 0 #383838;

}

#particles {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}


@media (max-width: 620px) {
    .columns {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

}

.slide-in-left {
	-webkit-animation: slide-in-left 1s ease-out both;
	        animation: slide-in-left 1s ease-out both;
}

@-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-500px);
              transform: translateX(-500px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }

  .puff-in-center {
	-webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

 @-webkit-keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(2px);
              filter: blur(2px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
